{# Colors #}
{% set free_all_day = '#CCCCFF' %}
{% set free_now     = '#BBFFBB' %}
{% set almost_busy  = '#FFFFAA' %}
{% set busy         = '#FFCCCC' %}

{% if ipad == 0 %}

<div class="text-center" style="padding: 25px;">
    <img src="{{ asset('bundles/app/logo.png') }}" style="width:40%;"/>
</div>

{% else %}

<div class="row">
  <div class="col-xs-6">
    <div class="text-center" style="padding: 25px;">
      <img src="{{ asset('bundles/app/logo.png') }}" style="width:80%;"/>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="text-center" style="font-size: 35px;">
      {{ 'now' | date("H:i") }}
    </div>
    <div class="text-center" style="font-size: 20px;">
      {{ 'now' | date("l d F Y") }}
    </div>
  </div>
</div>

{% endif %}

<div id="table">

{% set current_color = '¯\_(ツ)_/¯' %}

{% for id, room in rooms %}

    {# Defining the room color #}
    {% if not room.availability %}
        {% set row_color = null %}
    {% else %}
        {% set isFree = room.availability.status == 'free' %}
        {% if isFree %}
            {% if room.availability.event %}
                {% set row_color = free_now %}
                {% if room.availability.event.start - 'now'|date('U') < 1800 %}
                    {% set row_color = almost_busy %}
                {% endif %}
            {% else %}
                {% set row_color = free_all_day %}
            {% endif %}
        {% else %}
            {% set row_color = busy %}
        {% endif %}
    {% endif %}

    {% if row_color != current_color %}
        {% if current_color != '¯\_(ツ)_/¯' %}
            </tbody>
        </table>
        {% endif %}
        <table
            style="font-size: {{ ipad ? 20 : 28 }}px;"
            class="table">
            {% if row_color %}
                <thead>
                    <tr>
                        <th colspan="6" class="text-center" style="padding:0px;">
                            {% if row_color == free_all_day %}
                                <div style="background-color:{{ free_all_day }};">Free today</div>
                            {% elseif row_color == free_now %}
                                <div style="background-color:{{ free_now }};">Free now</div>
                            {% elseif row_color == almost_busy %}
                                <div style="background-color:{{ almost_busy }};">Busy soon</div>
                            {% else  %}
                                <div style="background-color:{{ busy }};">Busy</div>
                            {% endif %}
                        </th>
                    </tr>
                </thead>
            {% endif %}
            <tbody>
        {% set current_color = row_color %}
    {% endif %}

    {# Splitting room name #}
    {% set name = room.name|roomName %}
    {% set seats = room.name|roomSeats %}

    <tr id="{{ id }}">
        <td style="width:30%;padding-left: 20px;">
            <div class="room-name" style="font-weight: bold;">{{ name }}</div>
        </td>
        <td style="width:25%;">
            {% set email = room.availability.event.mate|default(false) %}
            {% if email %}
                <img style="border-radius:50%;width:50px;height:50px;font-size:40px;" src="{{ email|peoplePicture }}"/> {{ email|peopleName }}
            {% endif %}
        </td>
        <td style="width:10%;" class="text-center">
            {{ seats }}
        </td>
        <td style="width:10%;" class="text-center">
            {% if booking_enabled and room.booking %}
                {% set slots %}

                    <div class="text-center">
                        <p style="font-size: {{ ipad ? 30 : 45 }}px;">It is now</p>
                        <p style="font-size: {{ ipad ? 65 : 85 }}px;">{{ 'now' | date("H:i") }}</p>
                        <br/>
                        <p style="font-size: {{ ipad ? 35 : 55 }}px;">Book {{ name }} until...</p>
                    </div>

                    <table style="width: 100%;">
                        {% for key, slot in room.booking %}
                            {% if key % 2 == 0 %}
                                {% if key != 0 %}
                                    </tr>
                                {% endif %}
                                <tr>
                            {% endif %}
                            <td class="text-center">
                                <button
                                    type="button"
                                    class="btn btn-primary domajax click"
                                    data-dismiss="modal"
                                    data-email="{{ room.email }}"
                                    data-time="{{ slot.time }}"
                                    data-endpoint="{{ path('book') }}"
                                    data-input-attr="email time"
                                    data-script-before="$('#book-{{ id }}').remove();"
                                    style="width: 80%; margin: 10px;"
                                >
                                    <span style="font-size: {{ ipad ? 35 : 55 }}px;">{{ slot.time }}</span>
                                    <br/>
                                    <span style="font-size: {{ ipad ? 25 : 40 }}px;">{{ slot.duration }}</span>
                                </button>
                            </td>
                        {% endfor %}
                        </tr>
                    </table>

                {% endset %}
                <button
                    id="book-{{ id }}"
                    class="book btn btn-primary"
                    style="font-size: {{ ipad ? 20 : 25 }}px;"
                    data-name="{{ name|e('html_attr') }}"
                    data-slot="{{ slots|e('html_attr') }}"
                >Book Now</button>
            {% else %}
                &nbsp;
            {% endif %}
        </td>
        <td style="width:25%;" class="text-center">
            {% if room.availability.event.start|default(false) %}
                {{ room.availability.event.start|date('H:i') }} - {{ room.availability.event.end|date('H:i') }}
            {% endif %}
        </td>
    </tr>

    {% endfor %}
</table>
</div>

{% if ipad == 0 %}

<div style="border-top:1px solid grey;">&nbsp;</div>

<div class="text-center" style="font-size: 100px;">
    {{ 'now' | date("H:i") }}
</div>
<div class="text-center" style="font-size: 60px;">
    {{ 'now' | date("l d F Y") }}
</div>

{% endif %}
